* {
  margin:  0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F5F5F5 !important;
}

.backgroundColor{
  background-color: #CC1126;
}
.whitebg{
  background-color: white;
}

.viewheight{
  height: 100vh;
}

.image{
  max-width: 100%;
  height: auto;
}
.image-bg{
  background-image: url('https://i.ibb.co/Sn42jPF/log-in-splash.jpg');
}

