* {
  margin:  0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F5F5F5 !important;
}

.backgroundColor{
  background-color: #292b2c;
}
.whitebg{
  background-color: white;
}

.viewheight{
  height: 100vh;
}